body {
    background-color: #32200c;
    color: #fbf198;
}
section {
    padding-bottom: 4rem;
    padding-top: 4rem;
}


.btn-success {
    background-color: white;
    color:#32200c
    
}

.btn-success:hover{
    background-color: #fbf198;
    color: #32200c;
}

.btn-primary {
    background-color: #32200c;
}

.btn-primary:hover{
    background-color: #fbf198;
    color: #32200c;
}

input,
textarea {
    margin-bottom: 1rem;
}

.card {
    width: 32%;
    float: left;
    margin: 5px;
    color: #32200c
}